[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
black = "*"
pylint = "*"

[packages]
pandas = "*"
nbsphinx = "*"
recommonmark = "*"
sphinx-material = "*"
pytest = "*"
pytest-cov = "*"
Sphinx = "*"
fastapi = "*"
uvicorn = "*"
motor = "*"
typer = "*"
aiofiles = "*"
jinja2 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
