{% extends "base.html" %}

{% block head_scripts %}
{% endblock %}

{% block navbar %}
{% include "partials/navbar.html" %}
{% endblock %}

{% block content %}
<div id="App"></div>
<script src="/public/js/modules/main.js"></script>
<script>
    const isDark = window.matchMedia('(prefers-color-scheme: dark)');
    if (isDark.matches) {
        document.body.classList.add("dark");
        document.getElementById("toggle").checked = true;
    }
    const toggleDarkMode = () => {
        document.body.classList.toggle("dark");
    }
</script>
{% endblock %}